<div class="content-container">
  <div class="content-container-card">
    <h1>Collections</h1>
    <div class="collection-section">
      <h2>LEGO</h2>
      <p>
        My Lego Collection, organized into which sets I want and which sets I
        already have (and whether or not I've built them yet).
      </p>
      <p>
        <a routerLink="/lego" title="LEGO Collection"
          ><button>See the LEGO Collection</button></a
        >
      </p>
    </div>
    <div class="collection-section">
      <h2>Board Games</h2>
      <p>
        My Board Game Collection, hosted at
        <a href="https://boardgamegeek.com/" target="_blank">BoardGameGeek</a>.
      </p>
      <p>
        <a
          href="https://boardgamegeek.com/collection/user/rardk"
          title="Board Game Collection"
          target="_blank"
          ><button>See the Board Game Collection</button></a
        >
      </p>
    </div>
  </div>
</div>
