<app-feed-posters
  sectionTitle="Currently Playing"
  [ratingMax]="10"
  [isLoading]="isLoading"
  [feedItems]="currentGamesFeedItems"
  displayType="poster"
  profileUrl="https://www.backloggd.com/u/rardk64/"
  profileName="Backloggd"
></app-feed-posters>

<app-feed-posters
  sectionTitle="Recently-Finished Games"
  [ratingMax]="10"
  [isLoading]="isLoading"
  [feedItems]="reviewsFeedItems"
  displayType="poster"
  profileUrl="https://www.backloggd.com/u/rardk64/"
  profileName="Backloggd"
></app-feed-posters>
