<section class="navbar">
  <div class="navbar-card">
    <div class="navbar-container">
      <app-navbar-button></app-navbar-button>
      <a routerLink="/blog"><div class="navbar-button">📰 blog</div></a>
      <a routerLink="/now"><div class="navbar-button">📆 now</div></a>
      <a routerLink="/collections"
        ><div class="navbar-button">🧩 collections</div></a
      >
      <a routerLink="/socials" *ngIf="isSocialEnabled"
        ><div class="navbar-button">🦋 social</div></a
      >
    </div>
  </div>
</section>
