<section class="navbar">
  <div class="navbar-card">
    <div class="navbar-container">
      <a routerLink=""><div class="navbar-button">🏠 home</div></a>
      <a routerLink="/blog-posts"><div class="navbar-button">📰 blog</div></a>
      <a routerLink="/now"><div class="navbar-button">📆 now</div></a>
      <a routerLink="/collections"
        ><div class="navbar-button">🧩 collect</div></a
      >
      <a routerLink="/socials" *ngIf="isSocialEnabled"
        ><div class="navbar-button">🦋 social</div></a
      >
    </div>
  </div>
</section>
