$navbar-margin: 15px;

.navbar {
  justify-content: center;
  margin-top: $navbar-margin;
  margin-bottom: 40px;
  text-align: center;
}
.navbar-card {
  margin: 0 auto;
}
.button {
  color: #000000;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  text-decoration: none;
  padding: 10px;
  border-color: #000000;
  border-radius: 6px;
  margin-left: 4px;
  margin-right: 4px;
  // box-shadow: 5px 5px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.1s;
  background-color: #ffffff;
}

.button:hover {
  // box-shadow: 6px 6px rgba(255, 255, 255, 0.5);
  color: #000000;
}

.button:active {
  // box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 4px 3px rgba(0, 0, 0, 0.5);
}
