<section class="navbar">
  <mat-card class="navbar-card">
    <div class="navbar-container">
      <a routerLink="" mat-button>
        <mat-icon
          aria-hidden="false"
          aria-label="Home Page"
          fontIcon="home"
        ></mat-icon
        >Home</a
      >
      <a routerLink="/now" mat-button
        ><mat-icon
          aria-hidden="false"
          aria-label="Now"
          fontIcon="today"
        ></mat-icon
        >Now</a
      >
      <a href="https://linktr.ee/rardk64" target="_blank" mat-button
        >Links
        <mat-icon
          aria-hidden="false"
          aria-label="Opens New Tab"
          fontIcon="open_in_new"
        ></mat-icon
      ></a>
    </div>
  </mat-card>
</section>
