<div class="mastodon-status-container">
  <h2>
    Mastodon Posts from
    <a href="https://mastodon.social/@rardk64/">@rardk64@mastodon.social</a>
  </h2>
  <!-- <span class="mastodon-link"
    ><a href="https://mastodon.social/@rardk64/"
      >@rardk64@mastodon.social</a
    ></span
  > -->
  <div class="mastodon-statuses">
    <div
      class="mastodon-status"
      *ngFor="let status of mastodonStatuses"
      (mouseup)="openMastodonStatus($event, status)"
    >
      <span class="status-avatar"><img [src]="status.account.avatar" /></span>
      <p class="status-content" [innerHTML]="status.content | safeHtml">
        {{ status.content }}
      </p>
      <p
        *ngIf="status.media_attachments && status.media_attachments.length > 0"
        class="status-media-container"
      >
        <span
          class="status-media-attachment"
          *ngFor="let media of status.media_attachments"
        >
          <img *ngIf="media.type == 'image'" [src]="media.url" />
          <img *ngIf="media.type == 'video'" [src]="media.preview_url" />
          <!-- <video
            *ngIf="media.type == 'video'"
            width="240"
            height="120"
            controls
          >
            <source [src]="media.url" />
          </video> -->
        </span>
      </p>
      <span class="status-date">{{ status.created_at | date : "long" }}</span>
    </div>
  </div>
</div>
