<header class="page-header">
  <div class="avatar-container">
    <a routerLink="/"><img class="avatar" src="/assets/rarvatar.png" /></a>
  </div>
  <div class="bio">
    <h1 class="name">rardk64</h1>
    <p>
      <a
        class="external-link"
        target="_blank"
        href="https://github.com/rarDevelopment"
        >💻 Writing Code</a
      >
      <span class="divider">|</span>
      <a class="external-link" target="_blank" href="https://twitch.tv/rardk64"
        >🎮 Playing Games</a
      >
      <span class="divider">|</span>
      <a class="external-link" target="_blank" href="/bots"
        >🤖 Building Bots</a
      >
    </p>
  </div>
</header>
