<header class="page-header">
  <div class="avatar-container">
    <a routerLink="home"><img class="avatar" src="/assets/rarvatar.png" /></a>
  </div>
  <div class="bio">
    <h1 class="name">rardk64</h1>
    <p>
      <a target="_blank" href="https://github.com/rarDevelopment"
        >💻 Writing Code</a
      >
      |
      <a target="_blank" href="https://twitch.tv/rardk64"
        >🎮 Playing Games</a
      >
      |
      <a target="_blank" href="https://rardk64.com/"
        >🤖 Building Bots</a
      >
    </p>
  </div>
</header>
