<div class="home-container"></div>
<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title>Discord Bots</app-page-title>
    <!-- <mat-toolbar class="navbar-toolbar"> -->
    <app-login-actions></app-login-actions>
    <!-- </mat-toolbar> -->
  </div>
</div>
<div class="content-container" *ngIf="isLoading">
  <div class="content-container-card">
    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-container *ngFor="let bot of bots">
  <div class="content-container bot">
    <div class="content-container-card">
      <img class="icon-img" [src]="bot.imageUrl" [alt]="bot.name" />
      <div class="bot-description">
        <h3 class="bot-name">{{ bot.name }}</h3>
        <div class="bot-text">{{ bot.description }}</div>
        <div class="bot-actions">
          <a [href]="bot.inviteLink" target="_blank">
            <div class="button bot-button-link invite">Invite Bot</div>
          </a>
          <a
            (click)="navigateIfLoggedIn(bot.controlPanelLink)"
            *ngIf="bot.isConfigurable"
          >
            <div class="button bot-button-link settings">Settings</div>
          </a>
          <a [href]="bot.gitHubLink" target="_blank" *ngIf="bot.gitHubLink">
            <div class="button bot-button-link">GitHub</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
