<div class="content-container">
  <div class="content-container-card">
    <h1 class="card-title">Board Games Collection</h1>
    <div class="page-description">
      This data is pulled from my
      <a href="https://boardgamegeek.com/wishlist/rardk" target="_blank"
        >Wishlist</a
      >
      and my
      <a
        href="https://boardgamegeek.com/collection/user/rardk?own=1&subtype=boardgame&ff=1"
        target="_blank"
        >Owned Games</a
      >
      on BoardGameGeek.
    </div>
    <ng-container *ngIf="isLoadingWishlist || isLoadingOwnedList">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      <div class="loading-disclaimer" *ngIf="showLoadingDisclaimer">
        If it's not loading, try refreshing the page...
      </div>
    </ng-container>
    <div class="error-message" *ngIf="showErrorMessage">
      There was an error. Please refresh the page, that should do the trick!
    </div>
    <ng-container
      *ngIf="!isLoadingWishlist && !isLoadingOwnedList && !showErrorMessage"
    >
      <section class="wanted-section">
        <h2>Board Games I Want</h2>
        <table class="set-table">
          <th></th>
          <th>Priority</th>
          <th>Name</th>
          <th>Notes</th>

          <tr *ngFor="let boardGame of wishlistGames">
            <td class="img-cell">
              <img [src]="boardGame.thumbnail" alt="{{ boardGame.name }}" />
            </td>
            <td>{{ boardGame.priority }}</td>
            <td>{{ boardGame.name }} ({{ boardGame.yearPublished }})</td>
            <td [innerHTML]="boardGame.comment"></td>
          </tr>
        </table>
      </section>
      <section class="owned-section">
        <h2>Board Games I Own</h2>
        <table class="set-table">
          <th></th>
          <th>Name</th>
          <th>Notes</th>

          <tr *ngFor="let boardGame of ownedGames">
            <td class="img-cell">
              <img [src]="boardGame.thumbnail" alt="{{ boardGame.name }}" />
            </td>
            <td>{{ boardGame.name }} ({{ boardGame.yearPublished }})</td>
            <td [innerHTML]="boardGame.comment"></td>
          </tr>
        </table>
      </section>
    </ng-container>
  </div>
</div>
