<header class="page-header">
  <mat-toolbar class="navbar-toolbar">
    <app-login-actions></app-login-actions
  ></mat-toolbar>
  <div class="avatar-container">
    <a routerLink="home"><img class="avatar" src="/assets/rarvatar.png" /></a>
  </div>
  <div class="site-title">
    <h2><a class="title-link" routerLink="/">rardk64's Bots</a></h2>
  </div>

  <div class="navbar-links">
    <a href="https://rardk.com" target="_blank" class="nav-button">
      <img
        alt="rardk64 Personal Website"
        matTooltip="rardk64 Personal Website"
        class="logo-button"
        src="/assets/rar.png"
      />
    </a>
    <a href="https://discord.gg/Za4NAtJJ9v" target="_blank" class="nav-button">
      <img
        alt="Bot Support Discord Server"
        matTooltip="Bot Support Discord Server"
        class="logo-button"
        src="/assets/discord-mark-blue.png"
      />
    </a>
  </div>
</header>
