.home-paragraph {
  margin-bottom: 20px;
  text-align: center;
}

.external-feed-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-item-twitter {
  flex: 0.5;
  margin-left: 5px;
}

.flex-item-mastodon {
  margin-top: 10px;
  flex: 0.5;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .external-feed-container {
    margin-top: 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-item-twitter {
    margin-top: 10px;
  }
}
