<div class="page-description-container">
  <div class="page-description-content">
    <h2>HAPPY BIRTHDAY BASIL</h2>
    <p class="page-description">
      Today is Basil day so that's all this website is doing today, celebrating Basil's birthday.
      She's the best and my favourite so say happy birthday.
      <br />
      Happy Birthday Basil ❤️ I love you
    </p>
    <p class="page-description" style="text-decoration: line-through">
      I'm rardk64! I'm a Software Engineer. I write web applications, Discord Bots, and hopefully
      the occasional game. When I'm not writing code, I'm playing video games, reading comics, or
      reorganizing my phone's home screen.
    </p>
  </div>
</div>

<!-- <app-blog pageTitle="Recent Posts from my Blog" [itemCount]="2"></app-blog> -->
