<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title>Hey!</app-page-title>
    <p></p>
  </div>
</div>
<div class="content-container">
  <div class="content-container-card">
    <div class="home-paragraph">
      I'm rardk64! I'm a Software Engineer. I write web applications,
      <a routerLink="/bots">Discord Bots</a>, and hopefully the occasional game.
      When I'm not writing code, I'm playing video games, reading comics, or
      reorganizing my phone's home screen.
    </div>
    <div class="home-paragraph">
      Check out the stuff at the top! You can look at the
      <a routerLink="/blog">blog page</a> for some of my musings, or you can
      check out the <a routerLink="/now">now page</a> for what I'm up to lately,
      or the <a routerLink="collections">collections page</a> for what I'm
      collecting.
    </div>
  </div>
</div>

<!-- <div class="external-feed-container">
  <div class="flex-item-mastodon">
    <app-mastodon-card></app-mastodon-card>
  </div>
</div> -->
