<div class="content-container">
  <div class="content-container-card">
    <h1 class="card-title">Hey it's me!</h1>
    <div class="home-paragraph">
      I'm a Software Engineer. I write web applications,
      <a href="https://rardk64.com/" target="_blank">Discord Bots</a>, and
      hopefully the occasional game. When I'm not writing code, I'm playing
      video games, reading comics, or reorganizing my phone's home screen.
    </div>
    <div class="home-paragraph">
      Check out the stuff at the top! You can look at the
      <a routerLink="/now">now page</a> for what I'm up to lately, the
      <a routerLink="collections">collect page</a> for what I'm collecting<span
        *ngIf="isSocialEnabled"
        >, and see where else you can find me on the
        <a routerLink="socials">social page</a></span
      >.
    </div>
  </div>
</div>

<!-- <div class="external-feed-container">
  <div class="flex-item-mastodon">
    <app-mastodon-card></app-mastodon-card>
  </div>
</div> -->
