<div class="page-container">
  <mat-card class="content-container-card">
    <mat-card-content>
      <h1>rardk64</h1>
      <div class="avatar-container">
        <img class="avatar" src="/assets/rarvatar.png" />
      </div>
      <button mat-raised-button color="primary" (click)="openLinkTree()">
        Find My Stuff Here
      </button>
      <p>Come back soon for more!</p>
    </mat-card-content>
  </mat-card>
  <div class="external-feed-container">
    <app-mastodon-card></app-mastodon-card>
  </div>
  <div class="external-feed-container">
    <a
      class="twitter-timeline"
      data-width="400"
      data-height="500"
      data-theme="dark"
      href="https://twitter.com/rardk64?ref_src=twsrc%5Etfw"
      >Tweets by rardk64</a
    >
  </div>
</div>
