<app-feed-posters
  sectionTitle="Top Albums"
  [ratingMax]="10"
  [isLoading]="isTopAlbumsLoading"
  [feedItems]="topAlbumFeedItems"
  displayType="poster"
  profileUrl="https://www.last.fm/user/rardk64"
  profileName="Last.fm"
></app-feed-posters>
<app-feed-posters
  sectionTitle="Top Artists"
  [ratingMax]="10"
  [isLoading]="isTopArtistsLoading"
  [feedItems]="topArtistFeedItems"
  displayType="list"
  profileUrl="https://www.last.fm/user/rardk64"
  profileName="Last.fm"
></app-feed-posters>
