<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title>Social Links</app-page-title>
  </div>
</div>
<div class="links-container">
  <ul class="link-list">
    <li>
      <a class="link-button" href="http://twitch.tv/rardk64" target="_blank">
        Twitch
      </a>
    </li>
    <li>
      <a
        class="link-button"
        href="https://bsky.app/profile/rardk64.com"
        target="_blank"
      >
        Bluesky
      </a>
    </li>
    <li>
      <a
        class="link-button"
        href="https://mastodon.social/@rardk64"
        target="_blank"
      >
        Mastodon
      </a>
    </li>
    <li>
      <a class="link-button" href="http://twitter.com/rardk64" target="_blank">
        Twitter
      </a>
    </li>
    <li>
      <a
        class="link-button"
        href="https://www.backloggd.com/u/rardk64/"
        target="_blank"
      >
        Backloggd
      </a>
    </li>
    <li>
      <a
        class="link-button"
        href="https://letterboxd.com/rardk/"
        target="_blank"
      >
        Letterboxd
      </a>
    </li>
    <li>
      <a
        class="link-button"
        href="https://www.serializd.com/user/rardk64"
        target="_blank"
      >
        Serializd
      </a>
    </li>
    <li>
      <a
        class="link-button"
        href="https://www.goodreads.com/user/show/167818625-robert-rar"
        target="_blank"
      >
        Goodreads
      </a>
    </li>
  </ul>
</div>
