<div class="socials-container">
  <ul class="link-list">
    <li>
      <a class="social-link" href="http://twitch.tv/rardk64" target="_blank">
        Twitch
      </a>
    </li>
    <li>
      <a class="social-link" href="http://twitter.com/rardk64" target="_blank">
        Twitter
      </a>
    </li>
    <li>
      <a
        class="social-link"
        href="https://mastodon.social/@rardk64"
        target="_blank"
      >
        Mastodon
      </a>
    </li>
    <li>
      <a
        class="social-link"
        href="https://www.backloggd.com/u/rardk64/"
        target="_blank"
      >
        Backloggd
      </a>
    </li>
    <li>
      <a
        class="social-link"
        href="https://letterboxd.com/rardk/"
        target="_blank"
      >
        Letterboxd
      </a>
    </li>
  </ul>
</div>
