<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title>Video Games Collection</app-page-title>
    <p></p>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="content-container" *ngIf="!isLoading">
  <div class="content-container-card">
    <section
      class="games-collection-section"
      *ngFor="
        let platformGrouping of gameCollectionItemsGrouped | keyvalue;
        let platformIndex = index
      "
    >
      <button
        type="button"
        class="collapsible"
        (click)="setOpen(platformIndex, !getOpen(platformIndex))"
      >
        <h2 class="platform-name">{{ platformGrouping.key }}</h2>
      </button>
      <table class="set-table" *ngIf="getOpen(platformIndex)">
        <th>Title</th>
        <th>Notes</th>
        <tr *ngFor="let gameCollectionItem of platformGrouping.value">
          <td>
            {{ gameCollectionItem.title }}
          </td>
          <td>{{ gameCollectionItem.notes }}</td>
        </tr>
      </table>
    </section>
  </div>
</div>
