<div class="content-container">
  <div class="content-container-card">
    <h1>The Now Page</h1>
    A
    <a href="https://nownownow.com/about" target="_blank">now page</a> exists to
    tell you what a person is focused on at this point in their life. It's to
    tell you what's going on <strong>now</strong>. So check out what I've got on
    on here!
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-github-card></app-github-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-backloggd-card></app-backloggd-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-letterboxd-card></app-letterboxd-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-lastfm-card></app-lastfm-card>
  </div>
</div>
