<mat-card class="content-container-card">
  <mat-card-content>
    <h1>The Now Page</h1>
    <div>
      A
      <a href="https://nownownow.com/about" target="_blank">now page</a> exists
      to tell you what a person is focused on at this point in their life. It's
      to tell you what's going on <strong>now</strong>. So check out what I've got on on here!
    </div></mat-card-content
  >
</mat-card>
<br />
<mat-card class="content-container-card">
  <mat-card-content>
    <app-github-card></app-github-card>
  </mat-card-content>
</mat-card>
<br />
<mat-card class="content-container-card">
  <mat-card-content>
    <p>More coming soon!</p>
  </mat-card-content>
</mat-card>
