<h2>{{ sectionTitle }}</h2>
<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="feed-item-posters-wrapper" *ngIf="!isLoading && isPoster">
  <div class="feed-item-poster" *ngFor="let feedItem of feedItems">
    <a [href]="feedItem.url" target="_blank"
      ><img
        [alt]="feedItem.title"
        class="feed-item-poster-img"
        [src]="feedItem.imageUrl"
    /></a>
    <div *ngIf="feedItem.rating">
      <a class="feed-item-rating" [href]="feedItem.url" target="_blank"
        >{{ feedItem.rating }} / {{ ratingMax }}</a
      >
    </div>
  </div>
</div>
<div *ngIf="!isLoading && isList">
  <ul class="feed-list-item-name">
    <li class="feed-list-item" *ngFor="let feedItem of feedItems">
      <a [href]="feedItem.url" target="_blank">{{ feedItem.title }}</a
      >{{ feedItem.summary ? " - " + feedItem.summary : "" }}
    </li>
  </ul>
</div>
