<div class="content-container">
  <div class="content-container-card">
    <ng-container *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="post">
      <h1 class="card-title">{{ post.title }}</h1>
      <p class="publish-date">Published: {{ post.publishDate | date : "long" }}</p>
      <p [html]="post.content.toString()">{{ post.content }}</p>
      <p class="wordpress-link-text">
        <a [href]="post.url" target="_blank">Original Post on my WordPress</a>
      </p>
    </ng-container>
  </div>
</div>
