img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.webfeedsFeaturedVisual {
  display: none !important;
  /* hide featured image in the blog post itself */
}

h1 {
  font-size: 34px;
  padding-top: 10px;
}

h2 {
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.blocks-gallery-grid {
  list-style-type: none;
}

.publish-date {
  font-size: 12px;
  text-align: center;
}

figcaption {
  font-size: 12px;
  font-style: italic;
}

.wordpress-link-text {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
