/* You can add global styles to this file, and also import other style files */
$background-blue: rgb(60, 134, 231);
$highlight-purple: rgb(146, 30, 146);

$card-horizontal-padding: 38px;
$card-vertical-padding: 15px;

$card-horizontal-padding-mobile: 45px;
$card-vertical-padding-mobile: 15px;

$font-color: #ffffff;
$opposite-font-color: #000000;

$accent-color: #f28834;

$max-width: 800px;
$min-width: 370px;

// for markdown in the blog post
.blog-post-content {
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 34px;
    padding-top: 10px;
  }

  h2 {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .publish-date {
    font-size: 12px;
    text-align: center;
  }
}

html,
body {
  // background-color: rgb(17, 15, 17);
  background-color: rgb(27, 25, 27);
  color: $font-color;
  margin: 0;
  height: 100%;
}

::selection {
  background-color: $font-color;
  text-shadow: none;
  color: $opposite-font-color;
}

.cdk-overlay-pane ::selection {
  background-color: $opposite-font-color;
  color: $font-color;
}

.page-container {
  padding-bottom: 30px;
}

.page-description-container {
  padding-bottom: 10px;
}

.page-description-content {
  text-align: center;
  width: 70%;
  max-width: $max-width - 150px;
  min-width: $min-width;
}

.with-border {
  background-color: rgba(164, 39, 214, 0.506);
  // background-color: rgb(130, 75, 158);
  // background-color: #0285ff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 4px 4px #000000;
}

.webrings {
  text-align: center;
  font-size: 16px;
}

a {
  color: $font-color;
}
a:visited {
  color: $font-color;
}

.page-description-content a {
  color: white;
}

.page-description-content a:visited {
  color: white;
}

.page-description-content a:active {
  color: white;
}

.page-description-container,
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
}

.content-container-card {
  text-align: left;
  padding-left: $card-horizontal-padding;
  padding-right: $card-horizontal-padding;
  padding-top: $card-vertical-padding;
  padding-bottom: $card-vertical-padding;

  border: 1px solid #000000;
  background-color: #ffffff;
  color: $opposite-font-color;
  border-radius: 5px;
  box-shadow: 3px 3px #000000;
  width: 50%;
  max-width: $max-width;
  min-width: $min-width;
}

.content-container-card ::selection {
  background-color: $opposite-font-color;
  color: $font-color;
}

.content-container-card a {
  color: $opposite-font-color;
}

.content-container-card a:visited {
  color: $opposite-font-color;
}

.button {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #000000;
  font-weight: 500;
  padding: 10px;
  margin: 4px;
  font-size: 17px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
}

.button:hover {
  background-color: #f28834;
}

.button.action:disabled,
.button.action[disabled="disabled"],
.button.action:disabled:hover,
.button.action[disabled="disabled"]:hover,
.button.action:disabled:active,
.button.action[disabled="disabled"]:active,
.button.action.primary:disabled,
.button.action.primary[disabled="disabled"],
.button.action.primary:disabled:hover,
.button.action.primary[disabled="disabled"]:hover,
.button.action.primary:disabled:active,
.button.action.primary[disabled="disabled"]:active,
.button.action.secondary:disabled,
.button.action.secondary[disabled="disabled"],
.button.action.secondary:disabled:hover,
.button.action.secondary[disabled="disabled"]:hover,
.button.action.secondary:disabled:active,
.button.action.secondary[disabled="disabled"]:active,
.button.action.tertiary:disabled,
.button.action.tertiary[disabled="disabled"],
.button.action.tertiary:disabled:hover,
.button.action.tertiary[disabled="disabled"]:hover,
.button.action.tertiary:disabled:active,
.button.action.tertiary[disabled="disabled"]:active,
.button.action.danger:disabled,
.button.action.danger[disabled="disabled"],
.button.action.danger:disabled:hover,
.button.action.danger[disabled="disabled"]:hover,
.button.action.danger:disabled:active,
.button.action.danger[disabled="disabled"]:active {
  background-color: rgba(56, 56, 56, 0.12);
  color: rgba(65, 65, 65, 0.38);
  cursor: default;
}

.button.action.primary {
  background-color: rgb(137, 37, 196);
  color: #ffffff;
}

.button.action.primary:hover {
  background-color: rgb(162, 42, 232);
  color: #ffffff;
}

.button.action.primary:active {
  background-color: rgb(152, 32, 222);
  color: #ffffff;
}

.button.action.secondary {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.button.action.secondary:hover {
  background-color: rgb(245, 245, 245);
  color: #000000;
}

.button.action.secondary:active {
  background-color: rgb(235, 235, 235);
  color: #000000;
}

.button.action.tertiary {
  background-color: rgb(255, 64, 129);
  color: #ffffff;
}

.button.action.tertiary:hover {
  background-color: rgb(245, 54, 119);
  color: #ffffff;
}

.button.action.tertiary:active {
  background-color: rgb(235, 44, 109);
  color: #ffffff;
}

.button.action.danger {
  background-color: rgb(244, 67, 54);
  color: #ffffff;
}

.button.action.danger:hover {
  background-color: rgb(234, 57, 44);
  color: #ffffff;
}

.button.action.danger:active {
  background-color: rgb(224, 47, 34);
  color: #ffffff;
}

/* footer */
.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
}

.copyright {
  margin-bottom: 10px;
}

.external-post-box {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  max-width: 500px;
  background-color: rgba(164, 39, 214, 0.506);
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .below-avatar-text {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .divider {
    display: none;
  }
  .content-container-card {
    padding-left: 10px;
    padding-right: 2px;
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
  }
}

/* center the material spinner */
.mat-mdc-progress-spinner {
  margin: 0 auto;
}

circle {
  stroke: #f28834;
}

.mdc-linear-progress__bar-inner {
  border-color: #f28834 !important;
}

// used for dropdown on lego filters
.mat-mdc-form-field {
  width: 340px;
}
