/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(60, 134, 231);
}

::selection {
  background-color: rgb(146, 30, 146);
  color: #ffffff;
}

a {
  color: black;
}
a:hover {
  color: rgb(60, 134, 231);
}
