img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.rss-icon {
  border-radius: 0px;
}

h1 {
  font-size: 34px;
  padding-top: 10px;
}

h2 {
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.blog-post-summary {
  cursor: pointer;
  text-decoration: none;
}

.blog-post-summary:hover {
  background-color: #e5e5e5 !important;
}
