<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title>Blog</app-page-title>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngFor="let post of blogPosts">
  <div class="content-container">
    <a
      [href]="post.url"
      target="_blank"
      class="content-container-card blog-post-summary"
      ><div class="">
        <h1 class="card-title">{{ post.title }}</h1>
        <app-date-display [dateToDisplay]="post.publishDate"></app-date-display>
        <p [html]="post.summary">{{ post.summary }}</p>
        <a [routerLink]="['/blog/', post.postId]">Read Post</a>
      </div>
    </a>
  </div>
  <br />
</ng-container>
