<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title
      >Blog
      <a
        href="/rardk-blog/feed"
        alt="rardk64 Blog RSS Feed"
        title="rardk64 Blog RSS Feed"
        ><img class="rss-icon" src="/assets/rss-feed-icon-28x28.png" /></a
    ></app-page-title>
  </div>
</div>
<div class="content-container" *ngIf="isLoading">
  <div class="content-container-card">
    <mat-spinner></mat-spinner>
  </div>
</div>
<ng-container *ngFor="let post of blogPosts">
  <div class="content-container">
    <div
      class="content-container-card blog-post-summary"
      (mouseup)="openBlogPost($event, post.postId)"
    >
      <h1 class="card-title">{{ post.title }}</h1>
      <p class="publish-date">
        Published: {{ post.publishDate | date : "medium" }}
      </p>
      <p [html]="post.summary">{{ post.summary }}</p>
      <a [routerLink]="['/blog/', post.postId]">Read Post</a>
    </div>
  </div>
  <br />
</ng-container>
