<div class="page-description-container">
  <div class="page-description-content">
  <h1>Blog</h1>
  <p>My various musings on video games</p>
  </div>
</div>
<div class="content-container" *ngIf="isLoading">
  <div class="content-container-card">
    <mat-spinner></mat-spinner>
  </div>
</div>
<ng-container *ngFor="let post of blogPosts">
  <div class="content-container">
    <div
      class="content-container-card blog-post-summary"
      (mouseup)="openBlogPost($event, post.postId)"
    >
      <h1 class="card-title">{{ post.title }}</h1>
      <p class="publish-date">
        Published: {{ post.publishDate | date : "medium" }}
      </p>
      <p [html]="post.summary">{{ post.summary }}</p>
      <a [routerLink]="['/blog/', post.postId]">Read Post</a>
    </div>
  </div>
  <br />
</ng-container>
