<div class="page-description-container">
  <div class="page-description-content">
    <!-- <app-page-title [titleSize]="1">Hello!</app-page-title> -->
    <p class="page-description">
      I'm rardk64! I'm a Software Engineer. I write web applications,
      <a routerLink="/bots">Discord Bots</a>, and hopefully the occasional game.
      When I'm not writing code, I'm playing video games, reading comics, or
      reorganizing my phone's home screen.
    </p>
  </div>
</div>
<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="2">Recent Posts from my Blog</app-page-title>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="!isLoading">
  <div class="content-container" *ngFor="let post of blogPosts">
    <a
      [routerLink]="['blog', post.attributes.canonicalUrl]"
      target="_blank"
      class="content-container-card external-post-box blog-post-summary"
      ><div>
        <h1 class="blog-post-title">{{ post.attributes.title }}</h1>
        <p [html]="post.attributes.description">
          {{ post.attributes.description }}
        </p>
        <app-date-display
          [dateToDisplay]="getPublishedDate(post.attributes)"
        ></app-date-display>
      </div>
    </a>
  </div>
  <br />
</ng-container>
