$blog-post-font-family: "Courier New", Courier, monospace;

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

h1 {
  font-size: 28px;
  padding-top: 10px;
}

h2 {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.blog-post-summary {
  cursor: pointer;
  font-family: $blog-post-font-family;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  max-width: 500px;
  background-color: rgba(164, 39, 214, 0.506);
  color: white;
}

.blog-post-title {
  text-align: left;
  font-family: $blog-post-font-family;
  font-weight: bold;
}

.blog-post-summary:hover {
  // background-color: #e5e5e5 !important;
  background-color: rgba(154, 29, 204, 0.506);
}

.blog-link {
  padding-top: 20px;
  text-align: center;
}
