.blog-post {
  // margin-bottom: 15px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.blog-post-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 28px;
  padding-top: 10px;
}

.blog-link {
  padding-top: 20px;
  text-align: center;
}

.blog-post-summary {
  max-width: 700px;
  text-align: center;
}
