<div class="page-description-container">
  <div class="page-description-content">
    <!-- <app-page-title [titleSize]="1">Hello!</app-page-title> -->
    <p class="page-description">
      I'm rardk64! I'm a Software Engineer. I write web applications,
      <a routerLink="/bots">Discord Bots</a>, and hopefully the occasional game.
      When I'm not writing code, I'm playing video games, reading comics, or
      reorganizing my phone's home screen.
    </p>
  </div>
</div>
<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="2">Recent Posts from my Blog</app-page-title>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngFor="let post of blogPosts">
  <div class="content-container">
    <a
      [href]="post.url"
      target="_blank"
      class="content-container-card external-post-box blog-post-summary"
      ><div>
        <h1 class="blog-post-title">{{ post.title }}</h1>
        <p [html]="post.summary">{{ post.summary }}</p>
        <app-date-display [dateToDisplay]="post.publishDate"></app-date-display>
      </div>
    </a>
  </div>
  <br />
</ng-container>
<div class="blog-link">
  See more from <a href="/blog/" target="_blank">my blog</a>.
</div>
